#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.content {
    background-color: bisque;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

button {
    height: 100px;
}