@media only screen and (max-width: 850px) {
    body {
        height: 100%;
        overflow-y: hidden;
    }

  }

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: larger;
}

.interface {
    display: flex;
    gap: 2vw;
}

#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    height: 8vh;
    width: 75vw;
}

.content {
    background-color: bisque;
    height: 5vh;
    width: auto;
    text-align: center;
    vertical-align: middle;
}


button {
    height: 100px;
}

