:root {
    --gridSize: 0;
}

body {
    margin: 0;
}

@media only screen and (max-width: 850px) {
    body {
        height: 100%;
        overflow-y: hidden;
    }

  }


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 40px;
    font-weight: bolder;

    height: 10vh;
    width: 100%;
}

.interface {
    display: flex;
    gap: 2vw;

    justify-content: center;
    align-items: center;

    /*border: 10px solid black;*/
}

.userMenu {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    /*border: 10px solid black;*/

    gap: 15px;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);

    height: 25vw;
    width: 25vw;
}

.content {
    background-color: bisque;
    height: 100%;
    width: auto;
    text-align: center;
    vertical-align: middle;
}


button {
    height: 50px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

